<% if current_user %>
  <% current_user.attributes.each do |attr, val| %>
    <b> <%= attr %>:</b> <%= val %> <br>
  <% end %>
<% end %>


YOU'RE LOGGED IN! GO BACK TO THE APP!
<a href="spotifydeeplink">Open the app?</a>
